{% extends "layoutInicio.html" %}

{% block content %}

    <h3>Login - Insira seus dados:</h3>
    <form action="/login" method="POST">
        <fieldset class="itens-form">
            <label for="email">Email:</label>
            <input type="text" name="email">
            <label for="senha">Senha:</label>
            <input type="text" name="senha">
        </fieldset>
        <h4>{{ info.mensagem }}</h4>
        <button type="submit" class="botao">ENTRAR</button>
    </form>

    <div class="separador"></div>

    <a href="/" class="botao">VOLTAR</a>

{% endblock content %}
        